<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome <%= sessionData.empName %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    // $(document).ready(function(){   
    //   $('.ApproveRequests').addClass("active");
    // }); 
  </script>

</head>
<body>
  <%- include('navbar.ejs') %>
<br>
  
<div class="container-fluid">

<table class="table  table-hover responsive ">
  <thead class="thead-dark">
  <tr> 
      <th>SNO</th>
      <th>name</th>
      <th>email_id</th>
      <th>address</th>
      <th>gst_no</th>
      <th>agreement_ref</th>
      <th>agreement_date</th>
      <th>commision</th>   
      <th>pay_period_days</th>
      <th>repl_period_days</th>
      <th>STATUS</th>

  </tr>
</thead>
<tbody>
  <% result.forEach((item)=>{ %>  
      <tr>
          <td class="SNO"><%= item.SNO %></td>
          <td class= "name"><%= item.client_name %></td>
          <td class= "email_id"><%= item.client_email_id %></td>
          <td class= "address"><%= item.address %></td> 
          <td class= "gst_no"><%= item.gst_no %></td>
          <td class= "agreement_ref"><%= item.agreement_ref %></td>
          <td class= "agreement_date"><%= item.agreement_date %></td> 
          <td class= "commision"><%= item.commision %></td>  
          <td class= "pay_period_days"><%= item.pay_period_days %></td>
          <td class= "repl_period_days"><%= item.repl_period_days %></td> 
          <td class= "STATUS"><%= item.live_status %></td>      
      </tr>

<%});%> 
</div>





</body>


</html>
